.sprint-backend-development-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sprint-backend-development-sprint-backend-development {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 200, 220, 1);
}
.sprint-backend-development-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 124px;
  position: absolute;
}
.sprint-backend-development-image3 {
  top: 30px;
  left: 1136px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.sprint-backend-development-text {
  top: 43px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  width: 553px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-rectangle2 {
  top: 170px;
  left: 53px;
  width: 1174px;
  height: 609px;
  position: absolute;
  border-radius: 20px;
}
.sprint-backend-development-group1 {
  top: 217px;
  left: 86px;
  width: 1109px;
  height: 523px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-rectangle3 {
  top: 0px;
  left: 0px;
  width: 1109px;
  height: 523px;
  position: absolute;
  border-radius: 10px;
}
.sprint-backend-development-text02 {
  top: 230px;
  left: 978px;
  color: rgba(104, 104, 104, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text04 {
  top: 259px;
  left: 978px;
  color: rgba(104, 104, 104, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text06 {
  top: 289px;
  left: 925px;
  color: rgba(104, 104, 104, 1);
  width: 254px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-group26952 {
  top: 231px;
  left: 925px;
  width: 43px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sprint-backend-development-rectangle7 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 17px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-text08 {
  top: 1px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-group26953 {
  top: 259px;
  left: 925px;
  width: 41px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sprint-backend-development-rectangle71 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 17px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-text10 {
  top: 1px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-rectangle6 {
  top: 580px;
  left: 676px;
  width: 159px;
  height: 110px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-text12 {
  top: 443px;
  left: 676px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text14 {
  top: 547px;
  left: 676px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text16 {
  top: 263px;
  left: 194px;
  color: rgba(0, 0, 0, 1);
  width: 464px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text18 {
  top: 343px;
  left: 189px;
  color: rgba(0, 0, 0, 1);
  width: 464px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text20 {
  top: 341px;
  left: 676px;
  color: rgba(0, 0, 0, 1);
  width: 464px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text22 {
  top: 341px;
  left: 676px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-text24 {
  top: 341px;
  left: 908px;
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-radio-button {
  gap: 5px;
  top: 590px;
  left: 684px;
  width: 171px;
  display: flex;
  padding: 3px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.sprint-backend-development-radio-symbol {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-ellipse1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(248, 200, 220, 1);
  border-style: solid;
  border-width: 2px;
}
.sprint-backend-development-ellipse2 {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  opacity: 0.00;
  position: absolute;
}
.sprint-backend-development-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-radio-button1 {
  gap: 5px;
  top: 620px;
  left: 684px;
  width: 171px;
  display: flex;
  padding: 3px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.sprint-backend-development-radio-symbol1 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-ellipse11 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(248, 200, 220, 1);
  border-style: solid;
  border-width: 2px;
}
.sprint-backend-development-ellipse21 {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.sprint-backend-development-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-radio-button2 {
  gap: 5px;
  top: 650px;
  left: 684px;
  width: 171px;
  display: flex;
  padding: 3px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.sprint-backend-development-radio-symbol2 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-ellipse12 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(248, 200, 220, 1);
  border-style: solid;
  border-width: 2px;
}
.sprint-backend-development-ellipse22 {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  opacity: 0.00;
  position: absolute;
}
.sprint-backend-development-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-line1 {
  top: 302px;
  left: 189px;
  width: 487px;
  height: 1px;
  position: absolute;
}
.sprint-backend-development-chaptertitle11 {
  top: 347px;
  left: 152px;
  width: 28px;
  height: 29px;
  position: absolute;
}
.sprint-backend-development-rectangle4 {
  top: 374px;
  left: 189px;
  width: 411px;
  height: 180px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-rectangle5 {
  top: 376px;
  left: 908px;
  width: 232px;
  height: 329px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-group2 {
  top: 397px;
  left: 927px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-item0 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(97, 97, 97, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.sprint-backend-development-icon {
  width: 2px;
  height: 2px;
  display: flex;
  opacity: 0.00;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color {
  top: 0.576171875px;
  left: 0.4148406982421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.sprint-backend-development-text32 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-group6 {
  top: 565px;
  left: 927px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-item01 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller1 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-text34 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-group7 {
  top: 607px;
  left: 927px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-item02 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller2 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-text36 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-group8 {
  top: 649px;
  left: 927px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-item03 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper3 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller3 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb1 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(97, 97, 97, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.sprint-backend-development-icon1 {
  width: 2px;
  height: 2px;
  display: flex;
  opacity: 0.00;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color1 {
  top: 0.576171875px;
  left: 0.4148406982421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.sprint-backend-development-text38 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-group5 {
  top: 523px;
  left: 927px;
  width: 193px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sprint-backend-development-rectangle61 {
  top: 0px;
  left: 0px;
  width: 193px;
  height: 35px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-item04 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper4 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller4 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb2 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.sprint-backend-development-icon2 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color2 {
  top: 6.9140625px;
  left: 4.97808837890625px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.sprint-backend-development-text40 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-thumb3 {
  top: 48px;
  left: 16px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(97, 97, 97, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.sprint-backend-development-icon3 {
  width: 2px;
  height: 2px;
  display: flex;
  opacity: 0.00;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color3 {
  top: 0.576171875px;
  left: 0.4148406982421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.sprint-backend-development-controller5 {
  top: 614px;
  left: 942px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb4 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.sprint-backend-development-icon4 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color4 {
  top: 6.9140625px;
  left: 4.97808837890625px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.sprint-backend-development-group4 {
  top: 481px;
  left: 927px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-item05 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper5 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller6 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb5 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(97, 97, 97, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.sprint-backend-development-icon5 {
  width: 2px;
  height: 2px;
  display: flex;
  opacity: 0.00;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color5 {
  top: 0.576171875px;
  left: 0.4148406982421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.sprint-backend-development-text42 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-group21 {
  top: 0px;
  left: 0px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-item06 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper6 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller7 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb6 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(97, 97, 97, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.sprint-backend-development-icon6 {
  width: 2px;
  height: 2px;
  display: flex;
  opacity: 0.00;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color6 {
  top: 0.576171875px;
  left: 0.4148406982421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.sprint-backend-development-text44 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-group3 {
  top: 439px;
  left: 927px;
  width: 193px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 243, 253, 1);
}
.sprint-backend-development-rectangle72 {
  top: 0px;
  left: 0px;
  width: 193px;
  height: 35px;
  position: absolute;
  border-radius: 5px;
}
.sprint-backend-development-item07 {
  top: 2px;
  left: 7px;
  width: 180px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}
.sprint-backend-development-radiowrapper7 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.sprint-backend-development-controller8 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sprint-backend-development-thumb7 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.sprint-backend-development-icon7 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.sprint-backend-development-color7 {
  top: 6.9140625px;
  left: 4.97808837890625px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.sprint-backend-development-text46 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.sprint-backend-development-text48 {
  top: 384px;
  left: 201px;
  color: rgba(0, 0, 0, 1);
  width: 386px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-dropdown-menu-priority {
  gap: 20px;
  top: 474px;
  left: 676px;
  width: 159px;
  display: flex;
  padding: 12px 21px 12px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgba(255, 229, 235, 1);
}
.sprint-backend-development-ellipse3 {
  width: 7px;
  height: 7px;
}
.sprint-backend-development-text50 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-vector {
  width: 12px;
  height: 7px;
}
.sprint-backend-development-dropdown-menu-story-point {
  gap: 20px;
  top: 374px;
  left: 676px;
  width: 159px;
  display: flex;
  padding: 12px 21px 12px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgba(255, 229, 235, 1);
}
.sprint-backend-development-text52 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-vector1 {
  width: 12px;
  height: 7px;
}
.sprint-backend-development-group23 {
  top: 599px;
  left: 138px;
  width: 513px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sprint-backend-development-text53 {
  top: 4px;
  left: 49px;
  color: rgba(0, 0, 0, 1);
  width: 464px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-pngtransparentusersgroupcomputericonsmembershipmis {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 37px;
  position: absolute;
}
.sprint-backend-development-dropdown-menu-personin-charge {
  gap: 20px;
  top: 34px;
  left: 49px;
  width: 159px;
  display: flex;
  padding: 12px 21px 12px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: flex-end;
  background-color: rgba(255, 229, 235, 1);
}
.sprint-backend-development-text55 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sprint-backend-development-vector2 {
  width: 12px;
  height: 7px;
}
.sprint-backend-development-image2 {
  top: 690px;
  left: 106px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.sprint-backend-development-image49604881 {
  top: 705px;
  left: 1157px;
  width: 25px;
  height: 25px;
  position: absolute;
}
