.userdetailschangepassword1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.userdetailschangepassword1-userdetailschangepassword {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 200, 220, 1);
}
.userdetailschangepassword1-group12 {
  top: 31px;
  left: 53px;
  width: 1174px;
  height: 770px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 229, 235, 1);
}
.userdetailschangepassword1-group1 {
  top: 85px;
  left: 389px;
  width: 398px;
  height: 579px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}
.userdetailschangepassword1-rectangle3 {
  top: 0px;
  left: 0px;
  width: 398px;
  height: 579px;
  position: absolute;
  border-radius: 10px;
}
.userdetailschangepassword1-image2 {
  top: 713px;
  left: 34px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.userdetailschangepassword1-password-form {
  top: 280px;
  left: 430px;
  width: 313.96722412109375px;
  height: 69.19672393798828px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.userdetailschangepassword1-rectangle31 {
  top: 27.88524627685547px;
  left: 0px;
  width: 314px;
  height: 41px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}
.userdetailschangepassword1-text {
  top: 39.24590301513672px;
  left: 5.163934230804443px;
  color: rgba(98, 98, 99, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailschangepassword1-text02 {
  color: rgba(24, 24, 24, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailschangepassword1-password-form1 {
  top: 360px;
  left: 430px;
  width: 313.96722412109375px;
  height: 69.19672393798828px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.userdetailschangepassword1-rectangle32 {
  top: 27.88524627685547px;
  left: 0px;
  width: 314px;
  height: 41px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}
.userdetailschangepassword1-text04 {
  top: 39.24590301513672px;
  left: 5.163934230804443px;
  color: rgba(98, 98, 99, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailschangepassword1-text06 {
  color: rgba(24, 24, 24, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailschangepassword1-group26960 {
  top: 452px;
  left: 524px;
  width: 128px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 229, 235, 1);
}
.userdetailschangepassword1-text08 {
  top: 456px;
  left: 479px;
  color: rgba(104, 104, 104, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
