.userdetailsmainpage15-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.userdetailsmainpage15-userdetailsmainpage {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 200, 220, 1);
}
.userdetailsmainpage15-group12 {
  top: 31px;
  left: 53px;
  width: 1174px;
  height: 770px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 229, 235, 1);
}
.userdetailsmainpage15-image2 {
  top: 744px;
  left: 98px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.userdetailsmainpage15-text {
  top: 77px;
  left: 83px;
  color: rgba(104, 104, 104, 1);
  width: 1114px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage15-text02 {
  top: 400px;
  left: 513px;
  color: rgba(24, 24, 24, 1);
  width: 263px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage15-text04 {
  top: 193px;
  left: 509px;
  color: rgba(24, 24, 24, 1);
  width: 263px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage15-rectangle9201 {
  top: 230px;
  left: 535px;
  width: 220px;
  height: 153px;
  position: absolute;
  border-radius: 10px;
}
.userdetailsmainpage15-group26972 {
  top: 439px;
  left: 535px;
  width: 220px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 213, 230, 1);
}
.userdetailsmainpage15-text06 {
  top: 10px;
  left: 9.322033882141113px;
  color: rgba(104, 104, 104, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage15-group26973 {
  top: 630px;
  left: 562px;
  width: 160px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(233, 168, 218, 1);
}
.userdetailsmainpage15-text08 {
  top: 8px;
  left: 9px;
  color: rgba(104, 104, 104, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage15-text10 {
  top: 248px;
  left: 544px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage15-image97970602trashgarbagerecyclebinsvgpngiconfreer {
  top: 251px;
  left: 722px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.userdetailsmainpage15-image97970602trashgarbagerecyclebinsvgpngiconfreer1 {
  top: 270px;
  left: 722px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.userdetailsmainpage15-image97970602trashgarbagerecyclebinsvgpngiconfreer2 {
  top: 289px;
  left: 722px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.userdetailsmainpage15-image97970602trashgarbagerecyclebinsvgpngiconfreer3 {
  top: 310px;
  left: 722px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.userdetailsmainpage15-image97970602trashgarbagerecyclebinsvgpngiconfreer4 {
  top: 329px;
  left: 722px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.userdetailsmainpage15-md5afec55eb036bremovebgpreview1 {
  top: 77px;
  left: 1114px;
  width: 48px;
  height: 52px;
  position: absolute;
}
.userdetailsmainpage15-image18 {
  top: 81px;
  left: 1058px;
  width: 43px;
  height: 43px;
  position: absolute;
}
