.userdetailsmainpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.userdetailsmainpage-userdetailsmainpage {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 200, 220, 1);
}
.userdetailsmainpage-group12 {
  top: 31px;
  left: 53px;
  width: 1174px;
  height: 770px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 229, 235, 1);
}
.userdetailsmainpage-image2 {
  top: 744px;
  left: 98px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.userdetailsmainpage-text {
  top: 77px;
  left: 83px;
  color: rgba(104, 104, 104, 1);
  width: 1114px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text02 {
  top: 212px;
  left: 178px;
  color: rgba(232, 167, 218, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text03 {
  color: rgba(232, 167, 218, 1);
}
.userdetailsmainpage-text07 {
  color: rgba(233, 168, 218, 1);
}
.userdetailsmainpage-text12 {
  top: 216px;
  left: 606px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text14 {
  top: 539px;
  left: 606px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text16 {
  top: 570px;
  left: 606px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text18 {
  top: 299px;
  left: 178px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text19 {
  color: rgba(104, 104, 104, 1);
}
.userdetailsmainpage-text27 {
  top: 383px;
  left: 178px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text28 {
  color: rgba(104, 104, 104, 1);
}
.userdetailsmainpage-text36 {
  top: 467px;
  left: 178px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text37 {
  color: rgba(104, 104, 104, 1);
}
.userdetailsmainpage-text45 {
  top: 554px;
  left: 178px;
  color: rgba(104, 104, 104, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.userdetailsmainpage-text46 {
  color: rgba(104, 104, 104, 1);
}
.userdetailsmainpage-image17 {
  top: 247px;
  left: 606px;
  width: 440px;
  height: 256px;
  position: absolute;
}
.userdetailsmainpage-md5afec55eb036bremovebgpreview1 {
  top: 77px;
  left: 1114px;
  width: 48px;
  height: 52px;
  position: absolute;
}
.userdetailsmainpage-image18 {
  top: 81px;
  left: 1058px;
  width: 43px;
  height: 43px;
  position: absolute;
}
