* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inria Sans;
    background-color: #F8C8DC;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width : 100%;
    text-decoration: none;
}

.container {
    width: 90%;
}

.header {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size:2.5vh;
}

.header .headTags{
    position: absolute;
    right: 17.5%;
}

.header .headTask{
    position: absolute;
    left: 15%;
}

.header .headPrio{
    position: absolute;
    left: 37.5%;
}

.header .headStory{
    position: absolute;
    right: 36%;
}


.card a, .card a:visited, .card a:hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1vw;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    border: black solid 0.1vw;
    border-radius: 0.5vw;
    width: 100%;
    background-color: #FFE5EC;
}

.card a:hover{
    background-color: #ffa6c1;
}

.TaskTitle {
    flex: 1.5; /* 40% of the space */
    text-align: left;
    margin-left: 1vw;
}

.urgent, .important, .medium, .low, .TaskStoryPoints{
    flex: 1;
    text-align: left; 
}
.TaskTags {
    flex:1.5;
    text-align: center;
}

.urgent {
    margin-bottom: 0.5vh;
    margin-top: 0.1vh;
    font-weight:lighter;
    color: red;
}
.urgent::before {
    margin-bottom: 0.1vh;
    margin-top: 0.1vh;
    content: "";
    display: inline-block;
    width: 0.5vw;
    height: 0.5vw;
    background-color: red;
    border-radius: 50%;
}

.important {
    margin-bottom: 0.5vh;
    margin-top: 0.1vh;
    font-weight:lighter;
    color: orange;
}
.important::before {
    margin-bottom: 0.1vh;
    margin-top: 0.1vh;
    content: "";
    display: inline-block;
    width: 0.5vw;
    height: 0.5vw;
    background-color: orange;
    border-radius: 50%;
}

.medium {
    margin-bottom: 0.5vh;
    margin-top: 0.1vh;
    font-weight:lighter;
    color: rgb(189, 189, 9);
}
.medium::before {
    margin-bottom: 0.1vh;
    margin-top: 0.1vh;
    content: "";
    display: inline-block;
    width: 0.5vw;
    height: 0.5vw;
    background-color: rgb(189, 189, 9);
    border-radius: 50%;
}

.low {
    margin-bottom: 0.5vh;
    margin-top: 0.1vh;
    font-weight:lighter;
    color: green;
}
.low::before {
    margin-bottom: 0.1vh;
    margin-top: 0.1vh;
    content: "";
    display: inline-block;
    width: 0.5vw;
    height: 0.5vw;
    background-color: green;
    border-radius: 50%;
}

.TaskTitle{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 1vh;
    max-width: 40%;
    overflow-wrap:break-word;
}

.TaskStoryPoints{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    font-size: 1vw;
    font-weight:lighter;
    margin-bottom: 1vh;
    max-width: 10%;
}

.TaskTags{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    font-size: 1vw;
    font-weight:lighter;
    margin-bottom: 1vh;
    max-width: 30%;
    overflow-wrap:normal;
}

.button4 {
    display: inline-block;
    font-size: 1.5vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    font-family: Inria Sans;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #FFE5EC;
    border: none;
    border-radius: 0.25vw;
    box-shadow: 0 0.1vw #999;

  }
  
  .button4:hover {
    background-color: #ffa6c1;
}
  
  .button4:active {
    background-color: #ffa6c1;
    box-shadow: 0 0.1vw #ccc;
    transform: translateY(0.2vw);
  }

  a[href="prodBacklogAddTask.html"] {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 2vh;
    font-family: Inria Sans;
}

#filterTags {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 0.5vw;
    font-size: 1vw;
}

#filterTags input[type="checkbox"] {
    margin-right: 0.1vw;
    font-size: 1vw;
}

#filterTags label {
    margin-right: 0.8vw;
    font-size: 1vw;
}

#RectangleFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 0;
}

body {
    background-image: url('../Icons/BackgroundImage.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed; /* Optional: this will ensure the image stays in place when the content is scrolled. */
    z-index: -1;
}

.credits-container{
    margin-top: 5px;
    margin-bottom:6vh;
}

.bottom-navbar {
    width: 100%;
    background-color: #333; /* Dark background for visibility */
    overflow: auto; /* To contain floated elements */
    position: fixed; /* Fixed position */
    bottom: 0; /* Position it at the bottom */
    left: 0;
    z-index: 1000; /* High z-index to ensure it stays on top of other elements */
    font-size: 1.5vw; 
}

.bottom-navbar a {
    float: left; /* To align horizontally */
    display: block;
    text-align: center;
    padding: 1vh 1vw; 
    text-decoration: none;
    color: white;
    font-size: 1.5vw; 
}

.bottom-navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding-bottom: 50px; /* Change to the actual height of your navbar */
}